*{
	box-sizing: border-box;
	margin: 0px;
}

h3{
	text-align: center;
	text-transform: uppercase;
	color: #E32C77;
	padding-bottom: 15px;
}

.wrap{
	margin: auto;
}

.bgmenu{
	background: #E32C77;
}
.menu{
	max-width: 880px;
	margin: auto;
}

.menu ul li{
	list-style: none;
	float: left;
	padding: 15px 20px;
	position: relative;
	list-style-position: inside;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
  	font-family: "Raleway","Helvetica Neue",sans-serif;
  	font-size: 15px;
  	color: #fff;
}
.menu>ul>li>ul{
	display: none;
	position: absolute;
	background: #E32C77;
	padding: 5px;
	left: -6px;
	width: 143px;
}
.menu ul li:hover ul{
	display: block;
}

.clear{
	clear: both;
}
.logo p{
	text-align: center;
}
.logo img{
	max-width: 320px;
	height: 130px;
}

.khuyenmai{
	width: 1050px;
	margin: auto;
	font-family: "Raleway","Helvetica Neue",sans-serif;
  	font-size: 15px;
  	padding-top: 50px;
  	text-align: justify;
  	line-height: 30px;
}