*{
    box-sizing: border-box;
    margin: auto;
    
}
@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roboto-regular-webfont.woff') format('woff'),
         url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
    font-family: "robotoregular", Helvetica Neue, Helvetica, Arial, sans-serif;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.first-menu{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.first-menu .container{
    display: flex;
}
.first-menu a{
    padding: 2rem;
}
.first-menu a:hover{
    background: #eee;
}
.first-menu .item1{
    flex-grow: 1;
}

.second-menu.desktop{
    background: #044A84;
    text-align: center;
}
.second-menu.desktop .container{
    display: flex;
}
.second-menu.desktop a{
    color: #fff;
    padding: 2rem;
    display: block;
    font-weight: 600;
}

.second-menu.desktop .item:hover{
    background: #033C69;
}
.second-menu.desktop .home{
    flex-grow: 1;
}
.second-menu.desktop .home .fa-home{
    font-size: 4rem;
}
.second-menu.desktop .home a{
    padding: 1rem; 
}
.second-menu.desktop .dangtin{
    flex-grow: 2;
}

.second-menu.mobile{
    background: #044A84;
    color: #fff;
}
.second-menu.mobile a{
    color: #fff;
}
.second-menu.mobile label{
    margin-bottom: 0px;
    padding: 2rem;
}

.notice.mobile{
    background: #f2fcff;
    padding-bottom: 2rem;
}
.notice.mobile h3{
    font-size: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}
.notice.mobile a{
    display: block;
    text-align: center;
}
.notice.mobile span{
    text-transform: uppercase;
    padding: 1rem;
    color: white;
    font-weight: 600;
    background: #38ccff;
    border-radius: 3%;
}

.search-box{
    background-image: url("1.jpg");
}
.search-box p{
    background: rgba(5,86,153,0.8);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2rem 1rem;
    margin-bottom: 0px;
    margin-top: 1rem;
    font-size: 1.6rem;
}
.search-box .row{
    margin: 0px;
    padding-top: 2rem;
    background: rgba(5,86,153,0.8);
    margin-bottom: 2rem;
}
.search-box select{
    padding: 1rem 2rem;
    width: 100%;
    margin-bottom: 1rem;
}
.search-box button{
    background: #ffa80f;
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    color: white;
    border: none;
}

.notice.desktop{
    padding: 15px 0px;
    background: #f2fcff;
}
.notice.desktop h3{
    font-size: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #333;
    font-weight: 600;
    text-align: center;
}
.notice.desktop p{
    padding-left: 9rem;
    padding-right: 9rem;
    text-align: justify;
    line-height: 3rem;
    color: grey;
}
.notice.desktop a{
    padding: 2rem;
    color: white;
    font-weight: 600;
    background: #38ccff;
    border-radius: 3%;
}
.container.featured-cities.desktop{
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-bottom-style: groove;
}
.container.featured-cities.desktop .p1{
    position: absolute;
    width: 93%;
    top: 53%;
    font-size: 3rem;
    color: white;
    text-align: center;
}
.container.featured-cities.desktop .p2{
    position: absolute;
    width: 93%;
    top: 65%;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.container.featured-cities.desktop .p2 span{
    border: 1px solid;
    padding: 1rem;
    background: rgba(158, 158, 158, 0.34);
}

.container.featured-cities.mobile{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.container.featured-cities.mobile .col-xs-12{
    margin-bottom: 1rem;
}
.container.featured-cities.mobile .p1{
    position: absolute;
    width: 91%;
    top: 33%;
    font-size: 3rem;
    color: white;
    text-align: center;
}
.container.featured-cities.mobile .p2{
    position: absolute;
    width: 93%;
    top: 65%;
    font-size: 2rem;
    color: white;
    text-align: center;
}
.container.featured-cities.mobile span{
    border: 1px solid;
    padding: 1rem;
    background: rgba(158, 158, 158, 0.34);
}

.promotion{
    text-align: justify;
    background: #f2f2f2;
    margin-top: 2rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.promotion .row{
    margin-left: 0px;
    margin-right: 0px;
}
.promotion .col-sm-5{
    border-right-style: ridge;
}
.promotion-benefit{
    font-size: 1.7rem;
}
.promotion .fa{
    padding-right: 1rem;
}

.footer{
    padding-top: 4rem;
    text-align: justify;
}
.footer a{
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    display: inline-block;
}
.footer .col-sm-2 label{
    padding: 1rem;
    font-size: 1.5rem;
    color: #337ab7;
}
.footer .col-sm-2 p{
    padding: 1rem;
    font-size: 1.5rem;
}

.backtotop{
    position: fixed;
    width: 5%;
    bottom: 0px;
    right: 6%;
}
.backtotop img{
    width: 100%;
}

.mobile{
    display: none;
}

@media (max-width: 767px){
    .first-menu{
        display: none;
    }
    .mobile{
        display: inherit;
    }
    .desktop{
        display: none;
    }
    .footer-center a{
        padding: 0px;
    }
    .backtotop{
        width: 10%;
    }
}