a:link{
	color: black;
}
a:hover{
	color: blue;
}
a:active{
	color: red;
}
a:visited{
	color: grey;
}
img{
	max-width: 500px;
	max-height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;

}
#p{
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: blue;
}
#p1{
	font-weight: bold;
}