* {
    box-sizing: border-box;
    margin: auto;

}

@font-face {
    font-family: 'robotoregular';
    src: url('../fonts/roboto-regular-webfont.eot');
    src: url('../fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-regular-webfont.woff') format('woff'),
    url('../fonts/roboto-regular-webfont.ttf') format('truetype'),
    url('../fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: "robotoregular", Helvetica Neue, Helvetica, Arial, sans-serif;
}

a, a:hover, a:focus, button:focus {
    text-decoration: none;
    outline: none;
}
.background{
    background-image: url("background.jpg");
}
.first-menu.desktop {
    text-align: center;
    background-image: url("bg-filter.jpg");
}
.first-menu.desktop .container {
    display: flex;
}

.first-menu.desktop a{
    color: #fff;
    padding: 2rem;
    display: block;
    font-weight: 600;
}
.first-menu.desktop label{
    flex-grow: 1;
    text-align: left;
    padding: 0.9rem;
    padding-left: 0px;
    margin: 0px;
    color: white;
    font-size: 3rem;
}
.first-menu.desktop label a{
    padding: 0px;
}

.first-menu.desktop .item:hover {
    background: rgba(3, 60, 105, 0.47);
}

.first-menu.mobile {
    background: rgba(100, 149, 237, 0.9);
    color: #fff;
}

.first-menu.mobile a {
    color: #fff;
}

.first-menu.mobile a:hover{
    background: rgba(4, 74, 132, 0.9);
}

.first-menu.mobile label {
    margin-bottom: 0px;
    padding: 2rem;
}
.footer {
    padding-top: 4rem;
    text-align: justify;
}

.footer a {
    text-transform: uppercase;
    padding: 1rem;
    font-weight: 600;
    display: inline-block;
}

.footer .col-sm-2 label {
    padding: 1rem;
    font-size: 1.5rem;
    color: #337ab7;
}

.footer .col-sm-2 p {
    padding: 1rem;
    font-size: 1.5rem;
}
.modal-dialog {
    background: #d9edf7;
    text-align: center;
    width: 30%;
}

.sign-up {
    padding: 3rem 6rem;
}

.sign-up h2 {
    margin-top: 0px;
}

.sign-up .email, .sign-up .password, .sign-up .hoten, .sign-up .sodienthoai, .sign-up .submit {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
}

.sign-up .checkbox {
    display: inline-block;
    margin-bottom: 2rem;
}

.sign-up-facebook {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #3B5998;
    color: white;
}

.sign-up .submit {
    color: white;
    background: #00b242;
    font-weight: 600;
}

.sign-in {
    padding: 3rem 6rem;
}

.sign-in h2 {
    margin-top: 0px;
}

.sign-in .email, .sign-in .password, .sign-in .hoten, .sign-in .sodienthoai, .sign-in .submit {
    width: 100%;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
}

.sign-in .checkbox {
    display: inline-block;
    margin-bottom: 2rem;
}

.sign-in-facebook {
    display: inline-block;
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #3B5998;
    color: white;
}

.sign-in .submit {
    color: white;
    background: #00b242;
    font-weight: 600;
}
.backtotop {
    position: fixed;
    width: 5%;
    bottom: 0px;
    right: 3%;
}

.backtotop img {
    width: 100%;
}

/*CSS TRANG ĐĂNG TIN 2*/
.first-menu.desktop .avatar img{
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.first-menu.desktop .dropdown-menu{
    left: -18px;
}
.first-menu.desktop .dropdown-menu a{
    color: #333;
}

.first-menu.mobile .avatar img{
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 15px;
}
.first-menu.mobile .dropdown-menu{
    left: -18px;
}
.first-menu.mobile .dropdown-menu a{
    padding: 10px 30px;
    color: #fff;
}

.wrap-dangtin{
    background: #F3F3F3; 
    padding-bottom: 3rem;
}
.wrap-dangtin .title-header{
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.dangtin.desktop{
    max-width: 900px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #888888;
}
.dangtin.desktop .row{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 1rem;
}
.dangtin.desktop .row textarea{
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}
.dangtin.desktop .row select{
    padding: 0.4rem;
    margin-bottom: 1rem;
}
.dangtin.desktop .row table{
    width: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dangtin.desktop .row p{
    font-size: 1.5rem;
    font-weight: 600;
}
.dangtin.desktop button{
    padding: 0.3rem 2rem;
    border: none;
    color: #fff;
    background: rgb(100, 149, 237);
}

.dangtin.mobile{
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #888888;
}
.dangtin.mobile .row{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 1rem;

}
.dangtin.mobile .row textarea{
    width: 100%;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    text-align: justify;
}
.dangtin.mobile .row select{
    padding: 0.4rem;
    margin-bottom: 1rem;
}
.dangtin.mobile .row p{
    font-size: 1.5rem;
    font-weight: 600;
}
/*HẾT CSS TRANG ĐĂNG TIN 2*/


.mobile {
    display: none;
}

@media (max-width: 767px) {
    .first-menu {
        display: none;
    }

    .mobile {
        display: inherit;
    }

    .desktop {
        display: none;
    }

    .footer-center a {
        padding: 0px;
    }

    .backtotop {
        width: 10%;
    }

    .modal-dialog {
        width: inherit;
        margin-top: 8rem;
    }

    .sign-up {
        padding: 1rem 2rem;
    }

    .sign-in {
        padding: 1rem 2rem;
    }
    .promotion .col-sm-5{
        border: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container.featured-cities.desktop .p2 {
        position: absolute;
        width: 90%;
        top: 72%;
        font-size: 1.5rem;
        color: white;
        text-align: center;
    }
    .first-menu.desktop {
        font-size: 1rem;
    }
    .first-menu.desktop label{
        font-size: 2rem;
        padding: 1.2rem 0;
    }
    .huongdan.desktop .search-box {
        font-size: 1rem;
    }
    .huongdan.desktop .search-box p {
        font-size: 1rem;
    }
    .modal-dialog {
        width: 50%;
    }
}