*{
	box-sizing: border-box;
	margin: auto;
}

body{
	background-color: rgba(70, 130, 180, 0.48);
	font-family: cursive;
}

.ui-state-highlight {
	background-color: #fafafa;
	height: calc(1.5rem + 20px);
}

.span.bagde{
	cursor: pointer;
}