*{
	box-sizing: border-box;
}

img{
	max-width: 100%;
	margin: auto;
	border-style: dotted;
	border-width: 2px;
}

body{
	font-family: "Times New Roman", Times, serif;
	font-weight: 500;
}

@keyframes title {
    0%  {background-color: #F44336; color: #59f9ec;}
    25%  {background-color: #e91e63; color: #FFFFFF;}
    50%  {background-color: #9c27b0; color: #F8DEBD;}
    75%  {background-color: #009688; color: #FFFFFF;}
    100% {background-color: #3f51b5; color: #F9E559;}
}

@keyframes footer {
	from {right: 0px;}
    to {opacity: 0; right: 440px;}
}

h1{
	text-transform: uppercase;
	text-align: center;
	font-weight: bold;
	color: white;
	animation: title 5s ease infinite;
}

p{
	opacity: 1;
	position: relative;
	animation: footer 3s infinite;
}
.wrap{
	width: 1000px;
	margin: auto;
}

.wrap img{
	width: 30%;
	height: 300px;
	overflow: hidden;
}

.col img{
	margin: 15px;
	float: left;
}

.thumb1 img{
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}
.thumb1:hover img{
	opacity: 0.5;
}

.thumb2:hover img{
	transform: scale(1.2);
}

.thumb3:hover img{
	transform: translate(0, -7px);
	box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2)
}
.footer{
	text-align: right;
	font-family: "lucida console";
	font-weight: bold;
	transition: opacity 3s ease-out;
}